# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# IDE
.vscode/
.idea/

# pytest cache
.pytest_cache/

# ruff cache
.ruff_cache/

# mypy cache
.mypy_cache/

# uv lock file
uv.lock

# .toml
*.egg-info/
